body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    text-align: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Mukauttaa näytön korkeuden */
    padding: 20px; /* Pieni sisennys reunoille */
    box-sizing: border-box;
}

#header-image {
    width: 30%; /* Skaalaa suhteellisesti */
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h1, h2 {
    color: #00796b;
    margin: 10px 0;
}

button {
    background-color: #00796b;
    border: none;
    color: white;
    padding: 10px 20px; /* Muokataan pienemmäksi */
    margin: 5px 0;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 80%; /* Skaalautuva leveys */
    max-width: 300px; /* Maksimikoko */
}

button:hover {
    background-color: #004d40;
}

#question-container, #answer-buttons {
    margin-bottom: 20px;
}

#answer-buttons button {
    display: block;
    background-color: #004d40;
    border: none;
    color: white;
    padding: 10px;
    margin: 5px auto;
    width: 100%; /* Leveys mukautuu pienille näytöille */
    max-width: 250px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#answer-buttons button.correct {
    background-color: #4caf50;
}

#answer-buttons button.incorrect {
    background-color: #f44336;
}

#back-button, #back-button-results {
    background-color: #ff5722;
    margin-top: 20px;
    padding: 10px 20px;
}

#back-button:hover, #back-button-results:hover {
    background-color: #e64a19;
}

/* Media query pienemmille näytöille */
@media (max-width: 768px) {
    #header-image {
        width: 50%; /* Skaalaa kuvaa isommaksi, jos pieni näyttö */
    }

    h1 {
        font-size: 24px; /* Pienennetään otsikkoa */
    }

    h2 {
        font-size: 20px; /* Pienennetään alaotsikkoa */
    }

    button {
        padding: 10px 15px; /* Pienemmät painikkeet */
        font-size: 14px;
    }
}
